/* Don't change the existing CSS. */

body{
  border: 10px solid rebeccapurple;
}

.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}

.white-text{
  background-color: red;
  color: white;
  padding: 10px;
}